@tailwind base;

@layer base {

  /* 隐藏滚动条 */
  ::-webkit-scrollbar {
    display: none;
  }

  @font-face {
    font-family: "Alata";
    src: url(./assets/font/Alata-Regular.ttf);
  }

  @font-face {
    font-family: "Inter";
    src: url(./assets/font/Inter.ttf);
  }

}

@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family: "Inter", "Alata", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}
