@tailwind base;

@layer base {

  /* 英文标题 */
  @font-face {
    font-family: "AXSA";
    src: url(./assets/font/AXSARegular.otf);
  }

  /* 英文正文 */
  @font-face {
    font-family: "Avoidance";
    src: url(./assets/font/AvoidanceGenevra.ttf);
  }
}

@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family: "Avoidance", "AXSA", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}
